html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}

.sec_tit{
	font-weight: 800;
	font-size: 51px;
	line-height: 57px;
	margin: 0 auto;
	width: 679px;
	margin: 19% 0 0;
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.btn {
	background: #53add7;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    height: 42px;
    width: 10%;
    transition: 0.3s;
}
button {
    cursor: pointer;
}
input, button, textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #2f4d66;
}
.flex{
	display: flex;
}

.header{
	justify-content: space-around;
    padding: 2% 0 2%;
	background: #2d5eff;
}
nav{
margin-top: 18px;
}
.icon{
	width: 5%;
}
.phon{
	margin-top: 18px;
}
.header_link,
.phon{
	color:white;
   font-family: Magistral;
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-right: 35px;
   transition: 0.3s;
   }
.header_link:hover,
.phon:hover{
	color: #242424;
}
.sec_txt{
	color: var(--, #F6F6E9);
font-family: Magistral;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
margin: 3% 0 3%;
width: 529px;
}
.btn__2{
    height: 56px;
    width: 29%;
}
.beg_stroke{
   font-size: 30px;
   color:#373737;
   border: 4px dashed #2d5eff;
   padding: 1%;
}
.stroke{
	padding: 100px 0;
}

footer{
	background: #2d5eff;
	padding: 2% 0 2%;
}
.footr_card_right{
	flex-wrap: wrap;
}
.footer_logo{
	width: 44%;
}
.footer_imges{
		width: 43%;
		margin: 2%;
	border-radius: 12px;
}
.footer_list{
	margin-bottom: 5%;
}
.burger_head{
	display: none;
}
.footer_icon{
	border-radius: 50%;
	width: 33%;
}
.footer_icon__phone{
	width: 16%;
}
.footer_icon__what{
	width: 199%;
	margin-left: -241%;
}

.btn_input {
    text-align: center;
    width: 100%;
    height: 64px;
    background: #69c2c1;
    padding: 15px 250px;
    border-radius: 18px;
}

.form-wrap {
    padding-bottom: 0;
    margin-bottom: -440px;
    z-index: 10;
    position: relative;
}

.map {
    padding-top: 0;
    padding-bottom: 0;
}

.sec_desc {
	margin: 0 0 80px;
  }
.btn_red{
	width: 110%;
	border-radius: 18px;
	
}
  .table_in {
	border-radius: 16px;
	border: 1px solid #fff;
	background: #fff;
	max-width: 812px;
	margin: 0 auto;
	padding: 43px 50px 50px;
	flex-wrap: wrap;
	background: #efefef;
    box-shadow: 6px 6px darkgray;
  }
  
  .table_txt {
	color: #2C2F24;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	/* 150% */
	margin-bottom: 8px;
	display: block;
  }
  
  .table_input-in {
	border-radius: 72px;
	border: 1px solid #DBDFD0;
	margin-bottom: 24px;
	padding: 0 24px;
  }
  
  .input {
	line-height: 56px;
	font-size: 16px;
  }
  
  .table_input {
	width: calc(50% - 12px);
  }
  
  .table_input__big {
	width: 100%;
  }
  
  .table_input__verybig {
	width: 100%;
	height: 156px;
	border-radius: 16px;
  }
  
  .reserved {
	gap: 90px;
	justify-content: center;
	margin: 80px;
  }
  
  .reserv_tit {
	color: #2C2F24;
	font-size: 20px;
	font-weight: 700;
	line-height: 26px;
	/* 130% */
  }
  
  .reserv_number {
	color: #AD343E;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	/* 125% */
	letter-spacing: -0.72px;
  }
  
  .reserv_txt {
	width: 187px;
	color: #2C2F24;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	/* 155.556% */
  }
  .contact{
	padding: 100px;
  }