html,body{
	height: 100%;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after{
 clear: both;
 content: "";
 display: table;
}
a{
	color: inherit;
	text-decoration: none;
}
li{
	list-style: none;
}
ul li:last-child{
	margin-bottom: 0;
}
img{
	display: block;
	width: 100%;
	height: auto;
}
button,
label{
	cursor: pointer;
}
input,
button,
textarea{
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input[type="radio"],
input[type="checkbox"]{
	display: none;
}
input::placeholder {
	color: inherit;
}
button{
	cursor: pointer;
}
input, 
textarea{
	display: block;
	resize: none;
}
body{
	font-size: 14px;
	line-height: 19px;
	color: #242424;
	width: 100%;
	font-family: 'Manrope', arial, sans-serif;
}
.container{
	max-width: 1325px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
.dn{
	display: none;
}

.sec_tit{
	font-weight: 800;
	font-size: 51px;
	line-height: 57px;
	margin: 0 auto;
	width: 679px;
	margin: 19% 0 0;
}
.color{
	color: #BE963F;
}
.dib{
	display: inline-block;
}
.hover{
	transition: 0.3s;
}
.hover:hover{
	color: #BE963F;
}
.btn {
	background: #abd1ff;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    height: 42px;
    width: 10%;
    transition: 0.3s;
}
button {
    cursor: pointer;
}
input, button, textarea {
    background: none;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #4b7395;
}
.flex{
	display: flex;
}

.header{
	justify-content: space-around;
    padding: 2% 0 2%;
	background: #69c2c1;
}
nav{
margin-top: 18px;
}
.icon{
	width: 5%;
}
.phon{
	margin-top: 18px;
}
.header_link,
.phon{
	color:white;
   font-family: Magistral;
   font-size: 22px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   margin-right: 35px;
   transition: 0.5s;
   }
.header_link:hover,
.phon:hover{
	color: #242424;
}
.sec_txt{
	color: var(--, #F6F6E9);
font-family: Magistral;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.4px;
margin: 3% 0 3%;
width: 529px;
}
.btn__2{
    height: 56px;
    width: 29%;
}
.beg_stroke{
   font-size: 30px;
   color:#373737;
   border: 4px dashed #69c2c1;
   padding: 1%;
}
.stroke{
	padding: 100px 0;
}
.footer_link{
	color: black;
}
.footer_img{
	margin-right: 3%;
}
.footer_img__1{
	margin-top: 30px;
}
footer{
	background: #69c2c1;
	padding: 2% 0 2%;
}